*.lo
*.o
*.orig
*.swp
*.swo
*~
.deps/
.libs/
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h
/config.log
/config.status
/configure
/libtool
/stamp-h1
/tags
/Makefile
/Makefile.in
/Makefile
/aclocal.m4
/config.h.in
/configure
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
/build-aux/ylwrap
/doc/stamp-vti
/doc/version.texi
/gl/Makefile
/gl/Makefile.in
/m4/Makefile
/m4/Makefile.in
/src/Makefile
/src/Makefile.in
/doc/Makefile
/doc/Makefile.in
/doc/ksba.info
/tests/*.log
/tests/*.trs
/tests/Makefile
/tests/Makefile.in
/tests/cert-basic
/tests/t-cms-parser
/tests/t-crl-parser
/tests/t-dnparser
/tests/t-ocsp
/tests/t-oid
/tests/t-privkey
/gl/alloca.h
/gl/libgnu.la
/src/asn1-gentables
/src/asn1-tables.c
/src/asn1-parse.c
/src/ber-dump
/src/ksba-config
/src/libksba.la
/src/versioninfo.rc
/tests/oidtranstbl.h
/VERSION
